<div class="mx-auto justify-center text-center px-8">
  <div>
    <p>For more information or inquiries, reach out via email:</p>
    <a href="mailto:info@alta-barra.com" class="text-blue-400 hover:text-blue-300">
      Send an Email
    </a>
  </div>
</div>

<.flash_group flash={@flash} />
