<.header>
  New Page view
  <:subtitle>Use this form to manage page_view records in your database.</:subtitle>
</.header>

<.page_view_form changeset={@changeset} action={~p"/page_views"} />

<.back navigate={~p"/page_views"}>Back to page_views</.back>
