<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <%= for entry <- @entries do %>
    <url>
      <loc><%= entry.url %></loc>
      <lastmod><%= DateTime.to_iso8601(entry.updated_at) %></lastmod>
      <changefreq><%= entry.changefreq %></changefreq>
      <priority><%= entry.priority %></priority>
    </url>
  <% end %>
</urlset>
