<.header>
  New Article category
  <:subtitle>Use this form to manage article_category records in your database.</:subtitle>
</.header>

<.article_category_form changeset={@changeset} action={~p"/article_categories"} />

<.back navigate={~p"/article_categories"}>Back to article_categories</.back>
